* {
    margin: 0;
    padding: 0;
  }

  label {
    margin-right: 15px;
  }
  
  .form-group {
    margin-top: 50px;
    margin-bottom: 50px;
  }

  input[name="description"],
  input[name="allergy"],
  input[name="origin"] {
    width: 500px;
  }
    
    /*버튼*/
  .edit_container_button {
    display: flex;
    margin-top: 70px;
  }
  
  .edit_container_button > div {
    width: 50%;
    height: 64px;
    font-size: 22px;
    font-weight: bold;
    color: white;
    text-align: center;
    line-height: 64px;
  }
  
  .edit_container_button .gray_button {
    background-color: #CCCCCC;
    margin-right: 20px;
  }
  
  .edit_container_button .blue_button {
    background-color: #41B6E6;
  }